.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #fff;
  background-color: #282c34;
}

.app-heading {
  margin-top: 48px;
  font-size: 32px;
}

.app-logo {
  margin: 16px auto 28px;
  width: 100%;
  max-width: 100px;
  pointer-events: none;
}

@media (min-width: 480px) {
  .app-heading {
    font-size: 48px;
  }
}

.app-hint-text {
  font-size: 16px;
}

.app-text-container {
  padding: 8px;
  margin: 0 auto;
  width: 100%;
  min-height: 140px;
  font-size: 16px;
  border-radius: 4px;
}
